{% extends "index.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}
<h1 id="welcome"> graphic design is my passion </h1>
<div id="homebox">
    <div class="hb-s"></div>
    <div id="hb-main">
        <div class="blurb">
            <div class="hb-i">
                <img src="static/spotify.png" width="80" height="80">
            </div>
            <p class="hb-b">
            check out your 50 most listened to tracks and artists across three different time frames. data is updated in real time to show your favorite hits!
            </p>
        </div>
        <div class="blurb">
            <div class="hb-i">
                <img src="static/time.png" width="80" height="80">
            </div>
            <p class="hb-b">
            see how your music taste and personal favorite songs and artists change over time. click on any song, artist, or playlist to see it's information in the spotify app!
            </p>
        </div>
        <div class="blurb">
            <div class="hb-i">
                <img src="static/currently_listening.png" width="80" height="80">
            </div>
            <p class="hb-b">
            check out the song you are currently listening to and learn more about the artist!
            </p>
        </div>
        <div class="blurb">
            <div class="hb-i">
                <img src="static/playlist.png" width="80" height="80">
            </div>
            <p class="hb-b">
            check out all your playlists in one place (sorted by most recently made or liked).
            </p>
        </div>
    </div>
    <div class="hb-s"></div>
</div>
{% endblock %}