{% extends "index.html" %}

{% block title %}
    Playlists
{% endblock %}

{% block main %}

<div class="container">
    <table id = 'data' class="table">
        <tr>
            <th>playlists </th>

        </tr>
        {% for playlist in playlists %}
            <tr>
                <td>
                    <a href="{{ playlist[1] }}" target = "_blank" >
                      <div style="height:100%;width:100%" text-decoration = "none;">
                        {{ playlist[0] }}
                      </div>
                    </a>
                  </td>
            </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}