{% extends "index.html" %}

{% block title %}
    Artists
{% endblock %}

{% block main %}

<hr class = 'line' size = '5'>
<nav class="navbar navbar-expand-lg navbar-light bg-light sticky">
    <a style="text-decoration: none;" class= "navbar-text"><span id = "green">Top Artists</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

<div class="collapse navbar-collapse">
    <ul class="navbar-nav ms auto">
        <li class="nav-item"><a class="nav-link" href="/shortartists">last month</a></li>
        <li class="nav-item"><a class="nav-link" href="/mediumartists">last six months</a></li>
        <li class="nav-item"><a class="nav-link" href="/longartists">all time</a></li>
    </ul>
</div>
</nav>

<div class="container table">
    <table id="data" class="table">
        <tr>
            <th>artists (last month) </th>

        </tr>
        {% for artist in artists %}
            <tr>
                <td>
                    <a href="{{ artist[1] }}" target = "_blank" >
                      <div style="height:100%;width:100%" text-decoration = "none;">
                        {{ artist[0] }}
                      </div>
                    </a>
                  </td>
            </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}